input:focus, textarea:focus, select:focus {
    border-color: black !important; 
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0.25); 
  }
  
  input, textarea, select {
    transition: border-color 0.3s, box-shadow 0.2s;  
  }
  :host {
    display: block;
    margin: 20px auto;
    max-width: 800px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  button {
    margin-top: 20px;
  }

  /* Style du fieldset */
fieldset {
  border: 2px solid darkred; /* Bordure rouge foncé */
  box-shadow: 0 4px 8px rgba(0.8, 0.8, 0.8, 0.8); /* Ombre légère */
  padding: 15px; /* Espacement interne */
}

.dark-red-border {
  border: 2px solid #8B0000; /* Rouge foncé */
  box-shadow: 0 4px 8px rgba(139, 0, 0, 0.5); /* Ombre rouge foncé */
  border-radius: 8px; /* Arrondir les coins */
}
/* Style du titre */
.card-title {
  color: darkred; /* Texte rouge foncé */
  font-size: 2rem; /* Agrandir le texte */
  font-weight: bold; /* Gras pour le titre */
}

.custom-fieldset {
  border: 2px solid darkred;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  

.tooltip {
  background-color: #ffffff;
  color: #000000;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 10px;
  text-align: left;

  .tooltip-inner {
    max-width: 00px;
    text-align: left;
  }
}