<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="container mt-4">
    <div class="card shadow mx-4">
      <div class="card-body px-5">
        <h3 class="card-title mb-5 text-center">Questionnaire</h3>
  
        <!-- Product Details -->
        <div class="mb-3">
          <label class="form-label fw-bold">Nom du Produit:</label>
          <p>{{ productName }}</p>
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Description:</label>
          <p>{{ productDescription }}</p>
        </div>
  
        <!-- List of Questions -->
        <div class="mb-3" *ngFor="let question of questions; let i = index; trackBy: trackByFn">
          <label for="question{{ i }}" class="form-label">Question {{ i + 1 }}:</label>
          <div class="d-flex align-items-center">
            <input
              id="question{{ i }}"
              type="text"
              class="form-control"
              [(ngModel)]="questions[i]"
              placeholder="Entrez votre question ici"
            />
            <button
              type="button"
              class="btn btn-sm btn-danger ms-2"
              (click)="removeQuestion(i)"
              aria-label="Supprimer la question"
            >
              <i class="bi bi-trash"></i> <!-- Trash icon -->
            </button>
          </div>
  
          <!-- Error message under the input -->
          <div *ngIf="questionError" class="text-danger mt-2">
            {{ questionError }}
          </div>
        </div>
  
        <!-- Button to Add a Question, Centered and Red -->
        <div class="mb-3 text-center">
          <button class=" btn btn-ajouter" (click)="addQuestion()">Ajouter une Question</button>
        </div>
  
        <!-- Submit Button -->
        <div class="mt-4 text-end">
            <button class="btn btn-success btn-danger" (click)="submit(stepper)">Suivant</button>
          </div>
      </div>
    </div>
  </div>
  