.card {
    margin: 20px;
  
    .question-container {
      margin-bottom: 20px;
  
      .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .form-check-inline {
        display: inline-block;
        margin-right: 20px;
      }
  
      .form-check-label {
        margin-left: 5px;
      }
    }
  
    button {
      margin-top: 20px;
    }
  }
  

  .subquestions .subquestion {
    font-size: 0.875rem; /* Smaller font size */
    margin-left: 20px;   /* Indent subquestions */
  }
  
  .subquestions .form-label {
    margin-bottom: 4px;  /* Reduce space below the label */
  }
  
  .subquestions .form-check {
    margin-right: 15px;  /* Adjust spacing between options */
  }


  .form-label-sub {
    display: block;
    
    margin-bottom: 10px;
  }